@tailwind base;
@tailwind components;
@tailwind utilities;

.container__wrapper {
  @apply mx-auto overflow-x-hidden overflow-y-scroll px-10 xl:max-w-[1300px];
}

.child__wrapper {
  @apply mx-auto w-full py-10 md:max-w-[900px] lg:py-36;
}

.sub__wrapper {
  @apply ml-auto w-full md:max-w-[830px];
}

.heading__text {
  @apply text-4xl md:text-5xl lg:text-7xl;
}

.sub__text {
  @apply py-4 text-lg tracking-wide text-[#5E5E60] md:text-xl;
}

::-webkit-scrollbar {
  background: transparent !important;
  width: 0px !important;
}

.css-1jqq78o-placeholder {
  display: none !important;
}

.css-1wy0on6 {
  border: none !important;
}
.css-1xc3v61-indicatorContainer {
  border: none !important;
}

.css-hlgwow {
  border-radius: 0.75rem !important;
}

.gridContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "card-1 card-1 card-2  card-2"
    "card-1 card-1 card-3 card-3";
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-areas:
      "card-1 card-1 card-2 card-2"
      "card-1 card-1 card-3 card-3";
  }
}

@media screen and (max-width: 500px) {
  .gridContainer {
    grid-template-areas:
      "card-1 card-1 card-1 card-1"
      "card-2 card-2 card-2 card-2"
      "card-3 card-3 card-3 card-3";
  }
}
